<p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="addNewComment();"></button>
      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedComment()" [disabled]="!selectedComments || !selectedComments.length"></button>
  </ng-template>


</p-toolbar>

<create-comment [isShown]="isCreateCommentDialogShown" (handleCreateCommentClose)="handleCreateCommentClose()"></create-comment>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-table
  #dt
  [value]="comments"
  dataKey="Id"
  [rows]="10"
  [columns]="columns"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  styleClass="p-datatable-customers"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [filterDelay]="0"

  selectionMode="multiple" [(selection)]="selectedComments"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
      <button pButton type="button" icon="pi pi-table" class="p-ml-auto"  (click)="colSelections.toggle($event);"></button>
      <p-overlayPanel styleClass="sidebar-popup-sub-menu" #colSelections [dismissable]="true" [showCloseIcon]="true"
      appendTo="body">
      <p-listbox [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}" [options]="columnOptions" [(ngModel)]="selectedCols" (onChange)="selectedChanged($event)"
        multiple="multiple" checkbox="checkbox" filter="filter" optionLabel="name">
        <p-header>
          Select Columns
        </p-header>
      </p-listbox>

    </p-overlayPanel>
  </div>
    <div class="table-header">



    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
    </th>
      <ng-container *ngFor="let col of columns">
        <th [hidden]="col.hide"> {{col.header}} </th>
      </ng-container>
    </tr>


    <tr>
      <th style="width: 3rem">

    </th>
<th *ngIf="isColumnShown('Country')">

  <p-multiSelect [options]="countries" placeholder="All" (onChange)="onMultiSelectChange($event,'Country')" styleClass="p-column-filter" optionLabel="label">
    <ng-template let-option pTemplate="item">
        <div class="p-multiselect-representative-option">
            <span class="p-ml-1">{{option.label}}</span>
        </div>
    </ng-template>
</p-multiSelect>

      </th>

    <th *ngIf="isColumnShown('Brand')">
      <p-multiSelect [options]="brand" placeholder="All" (onChange)="onMultiSelectChange($event,'Brand')" styleClass="p-column-filter" optionLabel="label">
        <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
                <span class="p-ml-1">{{option.label}}</span>
            </div>
        </ng-template>
    </p-multiSelect>
      </th>

    <th *ngIf="isColumnShown('Region')">
      <p-multiSelect [options]="region" placeholder="All" (onChange)="onMultiSelectChange($event,'Region')" styleClass="p-column-filter" optionLabel="label">
        <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
                <span class="p-ml-1">{{option.label}}</span>
            </div>
        </ng-template>
    </p-multiSelect>
      </th>

    <th *ngIf="isColumnShown('Office')">
      <p-multiSelect [options]="office" placeholder="All" (onChange)="onMultiSelectChange($event,'Office')" styleClass="p-column-filter" optionLabel="label">
        <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
                <span class="p-ml-1">{{option.label}}</span>
            </div>
        </ng-template>
    </p-multiSelect>
      </th>

    <th *ngIf="isColumnShown('CommentType')">
      <p-multiSelect [options]="commentType" placeholder="All" (onChange)="onMultiSelectChange($event,'CommentType')" styleClass="p-column-filter" optionLabel="label">
        <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
                <span class="p-ml-1">{{option.label}}</span>
            </div>
        </ng-template>
    </p-multiSelect>
      </th>

    <th *ngIf="isColumnShown('EntityName')">
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'EntityName', 'startsWith')"
          placeholder="Search by Name"
          class="p-column-filter"
        />
      </th>

    <th *ngIf="isColumnShown('EntityNumber')">
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'EntityNumber', 'startsWith')"
          placeholder="Search by Name"
          class="p-column-filter"
        />
      </th>

    <th *ngIf="isColumnShown('CommentDate')">
      <p-calendar selectionMode="range" (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'date', 'equals')" [showButtonBar]="true" styleClass="p-column-filter" placeholder="Comment Date Range" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
      </th>

    <th *ngIf="isColumnShown('ClientName')">
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'ClientName', 'startsWith')"
          placeholder="Search by Name"
          class="p-column-filter"
        />
      </th>

    <th *ngIf="isColumnShown('ClientNo')">
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'ClientNo', 'startsWith')"
          placeholder="Search by Name"
          class="p-column-filter"
        />
      </th>

    <th *ngIf="isColumnShown('CandidateName')">
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'CandidateName', 'startsWith')"
          placeholder="Search by Name"
          class="p-column-filter"
        />
      </th>

    <th *ngIf="isColumnShown('CandidateNo')">
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'CandidateNo', 'startsWith')"
          placeholder="Search by Name"
          class="p-column-filter"
        />
      </th>

    <th *ngIf="isColumnShown('ContactName')">
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'ContactName', 'startsWith')"
          placeholder="Search by Name"
          class="p-column-filter"
        />
      </th>

    <th *ngIf="isColumnShown('CreateDate')">
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'CreateDate', 'startsWith')"
          placeholder="Search by Name"
          class="p-column-filter"
        />
      </th>

    <th *ngIf="isColumnShown('CommentTime')">
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'CommentTime', 'startsWith')"
          placeholder="Search by Name"
          class="p-column-filter"
        />
      </th>

    <th *ngIf="isColumnShown('CreatedBy')">
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'CreatedBy', 'startsWith')"
          placeholder="Search by Name"
          class="p-column-filter"
        />
      </th>

    <th *ngIf="isColumnShown('StandardDescription')">
      <p-multiSelect [options]="standardDescriptions" placeholder="All" (onChange)="onMultiSelectChange($event,'StandardDescription')" styleClass="p-column-filter" optionLabel="label">
        <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
                <span class="p-ml-1">{{option.label}}</span>
            </div>
        </ng-template>
    </p-multiSelect>
      </th>

    <th *ngIf="isColumnShown('Comment')">
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'Comment', 'startsWith')"
          placeholder="Search by Name"
          class="p-column-filter"
        />
      </th>
    </tr>

  </ng-template>
  <ng-template pTemplate="body" let-comment>
    <tr>
      <td>
        <p-tableCheckbox [value]="comment"></p-tableCheckbox>
    </td>
      <ng-container *ngFor="let col of columns">
        <td [hidden]="col.hide"> {{comment[col.field]}} </td>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">No comments found.</td>
    </tr>
  </ng-template>
</p-table>
